<form [formGroup]="meuForm" (submit)="onSubmit()">
  <br><br>
  <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div class="col-8">
          <div class="form-group">
              <label>Nome do Filme</label>
              <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome do filme">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
  </div>

  <div class="row d-flex justify-content-center"><!-- centraliza -->
    <div class="col-8">
        <div class="form-group">
            <label>Nome do diretor</label>
            <input type="text" class="form-control" formControlName="diretor" placeholder="Digite o nome do diretor">
        </div>
        <app-mostrar-mensagem
        [controles]="meuForm.controls['diretor']" [mensagem]="'Erro ao preencher campo'">
      </app-mostrar-mensagem>
    </div>
  </div>
  <br>
  <div align=center>
    <button type="submit" class="btn btn-primary">Enviar</button> <!-- 'primary' deixa o botão azul-->
    <button type="reset" class="btn btn-primary">Limpar</button> <!-- 'primary' deixa o botão azul-->
  </div>

</form>>
